.admin-page { padding: 20px; }
.dashboard-page h1 { margin: 0 0 50px 0; }
.dashboard-page p { color: #333; }

.axes {
  block-size: 18.75rem;
  inline-size: 37.5rem;
}

h3 {
  margin-bottom: 15px;
  position: relative;
  left: 180px;
}
