header {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  height: 80px;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20px;
}

nav {
  display: flex;
}

ul {
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 100px;
}

.container-li-direita {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.avatar-button {
  background-color: transparent;
}
.admin-badge {
  background-color: red;
  color: white !important;
}

.dropdown-item {
  display: flex;
  width: 200px;
  height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logout-item {
  border-top: 1px solid #dcdcdc;
  color: #d32f2f;
  font-weight: 600;
}

a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}

.botao-cria-conta {
  color: red;
}

.botao-entrar {
  background-color: red;
}

.container-botoes-entrar-criar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

tui-badge-notification {
  position: absolute;
  z-index: 99;
  left: 35px;
  top: 5px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 60px auto;
  max-width: 1000px;
  position: relative;
  left: 20px;
}

.badges {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #dcdcdc;
  border-radius: 8px;
  padding: 20px;
  flex-wrap: wrap;
}

.badge {
  background-color: red;
  color: white !important;

}

app-create-pizza {
  width: 0;
  height: 0;
}

.button-create-pizza {
  background-color: red;
  color: white;
  position: relative;
  left: 20px;
}

.carousel-title {
  position: relative;
  left: 20px;
  margin-bottom: 10px;
}

.divisor {
  content: '';
  display: flex;
  width: 100%;
  height: 1px;
  background-color: #dcdcdc;
}

footer {
  height: 100px;
  margin: 0 auto;
  max-width: 1000px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-button {
  background-color: white;
  color: black;
}
