:host {
  display: flex;
  width: 280px;
  background-color:rgba(0, 0, 0, .12);
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  flex: 1;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

h1 {
  font-size: 12px;
}

p {
  font-size: 10px;
}

.price {
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
}

.price-buttonadd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart-btn {
  margin-top: auto;
  background-color: red;
}
